---
import ProjectDescriptions from "./projectDescriptions.astro";
import Projects from "./projects.astro";
import Footer from "../footer.astro";
import Nouns from "./nouns.astro";
---

<div class="">
  <div class="flex p-2 lg:p-6 border-b">
    <ul class="ml-auto flex gap-x-6">
      <li>
        <a
          href="#about"
          class="hover:underline cursor-pointer text-(--foreground)">About</a
        >
      </li>
      <li>
        <a
          href="#projects"
          class="hover:underline cursor-pointer text-(--foreground)">Projects</a
        >
      </li>
      <li>
        <a
          href="#contact"
          class="hover:underline cursor-pointer text-(--foreground)">Contact</a
        >
      </li>
    </ul>
  </div>
  <div class="grid md:grid-cols-[auto_2fr] md:divide-x border-b">
    <h1
      class="font-michroma italic max-sm:text-5xl text-5xl lg:text-9xl uppercase pr-3"
    >
      Jakob<br />Lingel
    </h1>
    <Nouns/>
  </div>
  <div class="border-b w-full h-4 lg:h-10"></div>
  <div id="about"></div>
  <ProjectDescriptions />
  <div id="projects"></div>
  <Projects />
  <div id="contact"></div>
  <Footer />
</div>
