---
import ProjectDescriptions from './projectDescriptions.astro';
---
<div class="">
  <div class="flex p-6 border-b">
    <ul class="ml-auto flex gap-x-6">
      <li>About</li>
      <li>Projects</li>
      <li>Contact</li>
    </ul>
  </div>
  <!-- Hero Section -->
  <div class="grid grid-cols-[1fr_2fr] divide-x-1 border-b ">
    <h1 class="font-michroma italic text-3xl px-5 lg:text-9xl uppercase pt-10 pb-12 lg:px-14">Jakob Lingel</h1>
    <div class="flex flex-col pt-10 lg:pt-14 max-sm:text-sm px-2 md:px-10 lg:px-14 lg:gap-y-10 lg:justify-between lg:pb-12">
      <div>Fullstack Developer</div>
      <div>Design enthusiast</div>
      <div>Learner</div>
    </div>
  </div>
  <ProjectDescriptions/>
</div>
