---
import ProjectCard from "../projectCard.astro";
---

<div>
  <div
    class="grid border-t grid-cols-[50px_1fr] sm:grid-cols-[50px_1fr_50px] lg:grid-cols-[100px_1fr_100px]"
  >
    <div class="border-r"></div>
    <div>
      <div class="h-12 lg:h-24 border-b"></div>
      <div class="mx-auto grid lg:grid-cols-[2fr_3fr_2fr]">
        <h2
          class="font-michroma italic text-2xl sm:text-5xl uppercase"
        >
          Projects
        </h2>
        <div>
          <div>
            <ProjectCard
              title="Immoly.io"
              link="https://immoly.io"
              technologies={["Next.js"]}
            >
              visual mortgage calculator with multiple color schemes
            </ProjectCard>
            <div class="schraffiert border h-6 flex"></div>
          </div>
          <div>
            <ProjectCard
              title="Teachly.store"
              link="https://app.teachly.store"
              technologies={["React", "Typescript", "Nest.js"]}
            >
              platform for browsing, sharing, buying and selling educational
              resources
            </ProjectCard>
            <div class="schraffiert border h-6 flex"></div>
          </div>
          <ProjectCard
            title="Schluesselmomente"
            link="https://schluesselmomente-freiburg.de"
            technologies={["HTML", "Tailwindcss", "php"]}
            desktopScreenshot="/screenshots/desktop/schluesselmomente-freiburg-de.png"
            mobileScreenshot="/screenshots/mobile/schluesselmomente-freiburg-de.png"
          >
            website for local coaching business
          </ProjectCard>
          <div class="schraffiert border h-6 flex"></div>
          <ProjectCard
            title="Mimis-Kreativstudio"
            link="https://mimis-kreativstudio.de"
            technologies={["Astro", "Tailwindcss", "Resend"]}
            desktopScreenshot="/screenshots/desktop/mimis-kreativstudio-de.png"
            mobileScreenshot="/screenshots/mobile/mimis-kreativstudio-de.png"
          >
            floral design studio website with elegant styling
          </ProjectCard>
          <div class="schraffiert border h-6 flex"></div>
          <ProjectCard
            title="Business-Website"
            link="https://jakob-lingel.dev"
            technologies={["Astro", "React", "Three.js", "Tailwindcss"]}
            desktopScreenshot="/screenshots/desktop/jakob-lingel-dev.png"
            mobileScreenshot="/screenshots/mobile/jakob-lingel-dev.png"
          >
            personal portfolio website with 3D elements
          </ProjectCard>
          <div class="schraffiert border h-6 flex"></div>
          <ProjectCard
            title="Alemazung-Site"
            link="https://alemazung.de"
            technologies={["Next.js", "Strapi", "Tailwindcss"]}
            desktopScreenshot="/screenshots/desktop/alemazung-de.png"
            mobileScreenshot="/screenshots/mobile/alemazung-de.png"
          >
            multilingual website for a mayor's office
          </ProjectCard>
          <div class="schraffiert border h-6 flex"></div>
          <ProjectCard
            title="Blog"
            link="https://blog.jakob-lingel.dev"
            technologies={["11ty", "Tailwindcss"]}
          >
            personal blog built with 11ty
          </ProjectCard>
        </div>
      </div>
      <div class="h-12 lg:h-24 border-t"></div>
    </div>
    <div class="max-sm:hidden border-l"></div>
  </div>
  <div class="w-full border-b"></div>
</div>
