---
interface Props {
  title: string;
  desktopScreenshot?: string;
}

const { title, desktopScreenshot } = Astro.props;
---

{desktopScreenshot && (
  <div class="hidden row-start-1 lg:flex items-center justify-center p-4">
    <div class="w-full perspective-1000">
      <div
        class="w-full overflow-hidden rounded-lg border-2 border-white/20 shadow-2xl transition-all duration-500 ease-out 
               transform-3d perspective-1000 
               rotate-x-[14deg] rotate-y-[20deg] rotate-z-[2deg] translate-x-14
               group-hover:rotate-x-0 group-hover:rotate-y-0 group-hover:rotate-z-[1deg] hover:rotate-z-0 group-hover:scale-125 group-hover:-translate-x-12"
      >
        <img
          src={desktopScreenshot}
          alt={`${title} desktop screenshot`}
          class="h-auto w-full object-cover object-top"
          loading="lazy"
        />
      </div>
    </div>
  </div>
)}
