@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@import "tailwindcss";

@theme {
  --font-raleway-dots: "Raleway Dots", sans-serif;
  --font-fira-code: "Fira Code", sans-serif;
  --font-quantico: "Quantico", sans-serif;
  --font-michroma: "Michroma", sans-serif;
}

@layer base {
  * {
    border-color: var(--color-border);
    divide-color: var(--color-border);
  }
  a {
    color: var(--color-accent);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  a:hover {
    color: var(--color-accent-weak);
  }

  a.external-link {
    color: var(--color-tone-informative);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  a.external-link:hover {
    color: var(--color-tone-informative-muted);
  }
}

[data-theme="light"] {
  /* Background & foreground */
  --color-background: hsl(0, 0%, 100%);
  --color-foreground: hsl(228, 15%, 15%);

  /* Surfaces */
  --color-surface-base: hsl(0, 0%, 100%);
  --color-surface-subtle: hsl(228, 20%, 97%);
  --color-surface-raised: hsl(228, 20%, 95%);
  --color-surface-overlay: hsl(228, 20%, 92%);

  /* Accent (purple) */
  --color-accent-subtle: hsl(270, 40%, 96%);
  --color-accent-muted: hsl(270, 45%, 90%);
  --color-accent-weak: hsl(270, 55%, 70%);
  --color-accent: hsl(270, 55%, 55%);
  --color-accent-emphasis: hsl(270, 65%, 45%);
  --color-accent-strong: hsl(270, 75%, 40%);

  /* Feedback */
  --color-success: hsl(140, 45%, 45%);
  --color-success-emphasis: hsl(140, 60%, 40%);

  --color-alert: hsl(0, 65%, 50%);
  --color-alert-emphasis: hsl(0, 75%, 45%);

  /* Text */
  --color-text-primary: hsl(228, 15%, 15%);
  --color-text-secondary: hsl(228, 12%, 30%);
  --color-text-muted: hsl(228, 10%, 45%);
  --color-text-inverse: hsl(0, 0%, 100%);

  /* Tones */
  --color-tone-neutral: hsl(40, 20%, 30%);
  --color-tone-neutral-muted: hsl(40, 15%, 45%);

  --color-tone-prominent: hsl(45, 85%, 40%);
  --color-tone-prominent-muted: hsl(45, 60%, 55%);

  --color-tone-positive: hsl(95, 40%, 35%);
  --color-tone-positive-muted: hsl(95, 30%, 55%);

  --color-tone-caution: hsl(30, 75%, 40%);
  --color-tone-caution-muted: hsl(30, 55%, 55%);

  --color-tone-critical: hsl(5, 65%, 40%);
  --color-tone-critical-muted: hsl(5, 45%, 55%);

  --color-tone-informative: hsl(180, 45%, 40%);
  --color-tone-informative-muted: hsl(180, 30%, 55%);

  /* border */
  --color-border: var(--color-surface-overlay);

  ::selection {
    background: var(--color-accent);
  }
}

[data-theme="dark"] {
  /* Background & foreground */
  --color-background: hsl(228, 10%, 10%);
  --color-foreground: hsl(228, 15%, 92%);

  /* Surfaces */
  --color-surface-base: hsl(228, 10%, 10%);
  --color-surface-subtle: hsl(228, 10%, 14%);
  --color-surface-raised: hsl(228, 10%, 18%);
  --color-surface-overlay: hsl(228, 10%, 22%);

  /* Accent (purple) */
  --color-accent-subtle: hsl(270, 30%, 20%);
  --color-accent-muted: hsl(270, 35%, 28%);
  --color-accent-weak: hsl(270, 45%, 48%);
  --color-accent: hsl(270, 50%, 60%);
  --color-accent-emphasis: hsl(270, 60%, 65%);
  --color-accent-strong: hsl(270, 70%, 70%);

  /* Feedback */
  --color-success: hsl(140, 45%, 55%);
  --color-success-emphasis: hsl(140, 60%, 60%);

  --color-alert: hsl(0, 65%, 60%);
  --color-alert-emphasis: hsl(0, 75%, 65%);

  /* Text */
  --color-text-primary: hsl(228, 15%, 92%);
  --color-text-secondary: hsl(228, 12%, 75%);
  --color-text-muted: hsl(228, 10%, 60%);
  --color-text-inverse: hsl(228, 15%, 10%);

  /* Tones */
  --color-tone-neutral: hsl(40, 10%, 70%);
  --color-tone-neutral-muted: hsl(40, 8%, 55%);

  --color-tone-prominent: hsl(45, 85%, 65%);
  --color-tone-prominent-muted: hsl(45, 60%, 50%);

  --color-tone-positive: hsl(95, 45%, 60%);
  --color-tone-positive-muted: hsl(95, 30%, 45%);

  --color-tone-caution: hsl(30, 75%, 60%);
  --color-tone-caution-muted: hsl(30, 55%, 48%);

  --color-tone-critical: hsl(5, 65%, 60%);
  --color-tone-critical-muted: hsl(5, 45%, 48%);

  --color-tone-informative: hsl(180, 45%, 60%);
  --color-tone-informative-muted: hsl(180, 30%, 45%);

  /* border */
  --color-border: var(--color-surface-overlay);

  ::selection {
    background: var(--color-subtle-accent);
  }
}

.schraffiert {
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-border),
    var(--color-border) 1px,      /* Thin line ends at 2px */
    var(--color-background) 1px,  /* Background starts at 2px */
    var(--color-background) 10px  /* Background ends at 20px (Total width) */
  );
}
